.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.home_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home_header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: black;
  font-size: 15px;
  font-weight: 350;
}

.home_header a:hover {
  text-decoration: underline;
  color: rgb(209, 209, 209);
}

.home_headerRight {
  display: flex;
  align-items: center;
  min-width: 13vh;
  justify-content: space-between;
}

.home_headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.avatar_icon:hover {
  cursor: pointer;
}

.home_body > img {
  object-fit: contain;
  height: 100px;
}

.home_body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}
